
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="application-name" content="FoxHustle">
        <meta name="apple-mobile-web-app-title" content="FoxHustle">
        <meta name="msapplication-starturl" content="/">
        <meta name="msapplication-navbutton-color" content="#7e3641">
        <meta name="theme-color" content="#7e3641">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Manifest -->
        <link rel="yandex-tableau-widget" href="/manifest.json" />
        <link rel="manifest" href="/manifest.json">    
        <!-- Custom styles -->
        <style>

            /* ---- System config ---- */
            html, body {height: 100%;}
            .fas{width: 20px;}
            .fixed{position: fixed;}
            .right-0{right: 0;}
            .left-0{left:0;}
            .bottom-0{bottom:0;}
            .overflow-y{overflow-y:auto!important;overflow-x:hidden;}
            .overflow-x{overflow-y:auto!important;overflow-y:hidden;}
            .list-group {display: block; padding-left: 0; margin-bottom: 0;}
            .top-0{top:0;}
            .h-10{height: 10%!important;}
            .h-20{height: 20%!important;}
            .h-30{height: 30%!important;}
            .h-40{height: 40%!important;}
            .h-60{height: 60%!important;}
            .h-70{height: 70%!important;}
            .h-80{height: 80%!important;}
            .h-90{height: 90%!important;}
            .breadcrumb-item+.breadcrumb-item::before {
                display: inline-block;
                padding-right: .5rem;
                content: "/";
            }
            @media (min-width: 768px){
                .w-md-100{width: 100%!important;}
            }
            
            textarea {
                box-sizing: border-box;
                width: 100%;    
                background-color: #242b33;
                border: none;
                outline: none;
                color: white;
                height: 40px;
            }
            textarea#message-textarea:focus{
                height: 100px;
            }



            /* ---- Dark Theme ---- */
            /* Background-color */
            .dark .background-1{background-color:#2b333c!important;}
            .dark .background-2{background-color:#21262B!important;}
            .dark .background-3{background-color:#1D2126!important;}
            .dark .background-4{background-color:#242B33!important;}
            .dark .selected{background-color: #2E3C4D!important;}

            /* Text-color */
            .dark .text-color-1{color:#A3B8CC!important;}
            .dark .text-color-2{color:#A3B8CC!important;}
            .dark .text-color-3{color: #A3B8CC!important;}
            .dark .text-color-4{color:#A3B8CC!important;}
            
            /* History-color */
            .dark .breadcrumb-item+.breadcrumb-item::before{color: #243E59;} 

            /* Link color */
            .dark .link-color:not(.active){color: #A3B8CC!important;}

            /* Active elements */
            .dark .nav-item .active{
                background: #A3B8CC !important;
            }





            /* ---- Light Theme ---- */
            /* Background-color */
            .light .background-1{background-color:#ffffff!important;}
            .light .background-2{background-color:#F2F7FC!important;}
            .light .background-3{background-color:#F2F7FC!important;}
            .light .background-4{background-color:#ffffff!important;}
            .light .selected{background-color: #FF8F5E!important;}

            /* Text-color */
            .light .text-color-1{color:#000000!important;}
            .light .text-color-2{color:#000000!important;}
            .light .text-color-3{color:#000000!important;}
            .light .text-color-4{color:rgb(35, 35, 45)!important;}

            /* History-color */
            .light .breadcrumb-item+.breadcrumb-item::before{color: rgba(0, 0, 0, 0.3);} 

            /* Link color */
            .light .link-color:not(.active){color:#343a40!important;}

            /* Active elements */
            .light .nav-item .active{
                background: #CAD6E0 !important;
            }




        </style>