
                                <form action="/profile/{{ me.profile.id }}?act=new" method="Post" class="background-4 text-color-4 card mb-2">
                                    <div class="card-header">
                                        Новая запись
                                    </div>
                                    <div class="card-body">
                                        <textarea class="background-4 text-color-4" name="message-textarea" id="message-textarea" cols="100%" placeholder="Введите сообщение..."></textarea>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-secondary">Отправить</a>
                                    </div>
                                </form>