<!DOCTYPE html>
<html lang="ru">
    <head>
    {% include 'head.html' %}
        <title>Fox Hustle</title>
    </head>
    <body class="h-100 dark">
        <div class="pos-f-t fixed-top sticky w-100">
            <nav class="navbar background-1">
                <div class="row">
                    <div class="col-auto d-lg-none">
                        <button class="navbar-toggler d-inline d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon fas fa-bars text-color-1 h-100 my-2"></span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <ol class="breadcrumb mb-0 background-3 text-color-3" style="border: 1px solid #fff;">
                            <li class="breadcrumb-item">
                                <a href="/" class="breadcrumb-item link-color">
                                    <span>
                                        <img src="/favicon.ico" width="24"class="d-inline-block align-top" alt="Logotype">
                                    </span>
                                    <span>
                                        Fox Hustle
                                    </span>
                                </a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Друзья</li>
                        </ol>
                    </div>
                </div>
            </nav>
        </div>
        <main class="flex-grow-1 flex-shrink-1 d-flex background-3" style="min-height: 100%!important; padding-top: 4.2rem!important">
            {% include 'leftmenu.html' %}
            <!-- Content block -->
            <div class="container-fluid px-0 col-lg-10 right overflow-y float-right mr-0">
                <div class="row mx-0 pt-4">
                    <div class="col-md ml-md-3 order-2 order-md-1">
                        <div class="background-4 text-color-4 card">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link link-color active" id="home-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">
                                        Все друзья
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-color" id="profile-tab" data-toggle="tab" href="#online-friends" role="tab" aria-controls="online-friends" aria-selected="false">
                                        Друзья онлайн
                                    </a>
                                </li>
                              </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active mb-3" id="friends" role="tabpanel" aria-labelledby="friends-tab">
                            {% for page in friends.all %}
                                <div class="background-4 text-color-4 card mb-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="img col-auto">
                                                <img src="{{ page.img }}" alt="" width="100" height="100">
                                            </div>
                                            <div class="profile-information col">
                                                <a href="/profile/{{ page.id }}/" class="link-color">
                                                    <h5>
                                                        {{ page.name }} {{ page.surname }}
                                                    </h5>
                                                </a>
                                                <a href="/message?id={{ page.id }}" class="link-color">
                                                    <h6>
                                                        Написать
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                    <div class="background-4 text-color-4 card mb-2">
                                        <div class="card-body py-2">
                                            <h4 class="text-center">
                                                У вас нет друзей
                                            </h4>
                                            <h6 class="text-center">
                                                <a href="https://pornhub.com" class="link-color">
                                                    ты одинокий
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade mb-3" id="online-friends" role="tabpanel" aria-labelledby="online-friends-tab">
                            {% for page in friends.online %}
                                <div class="background-4 text-color-4 card mb-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="img col-auto">
                                                <img src="{{ page.img }}" alt="" width="100" height="100">
                                            </div>
                                            <div class="profile-information col">
                                                <a href="/profile/3/" class="link-color">
                                                    <h5>
                                                        {{ page.name }} {{ page.surname }}
                                                    </h5>
                                                </a>
                                                <a href="/message?id={{ page.id }}" class="link-color">
                                                    <h6>
                                                        Написать
                                                    </h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="background-4 text-color-4 card mb-2">
                                    <div class="card-body">
                                        <h4 class="text-center py-2">
                                            Друзей онлайн нет
                                        </h4>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="order-1 order-md-2 col-md-3 col-12 mb-3">
                        <div class="overflow-x sticky-top" style="z-index: 1000;">
                            <ul class="list-group w-md-100" id="scroll-x" style="">
                                <li class="list-group-item background-4 text-color-4 d-inline-block d-md-block">
                                    Друзья
                                </li>
                                <li class="list-group-item background-4 text-color-4 d-inline-block d-md-block">
                                    Подписчики
                                </li>
                                <li class="list-group-item background-4 text-color-4 d-inline-block d-md-block">
                                    Подписки
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alerts-block float-right fixed right-0 bottom-0" style="z-index: 1070;">
                {% for notification in me.notifications %}
                    <div class="alert alert-primary" role="alert" style="margin-left: 20px; margin-right: 20px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5> 
                            {{ notification.title }} 
                        </h5>
                        {{ notification.description }}
                        <br>
                        {% if notification.action != none %}
                            <a href="{{ notification.action }}">
                                Подробнее
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </main>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            setInterval(function() {
                var width = 0;
                var a = document.getElementsByClassName('list-group-item');
                for (var i = 0; i < a.length; i++)
                    width += a[i].offsetWidth;
                document.getElementById('scroll-x').style.width = width+4*a.length+"px";
            }, 1000)
        </script>
    </body>
</html>